<div style="height:101px; background-image:url(/static/images/header_bg.jpg); background-position:center top">
  <div style="width:952px; height:101px;">
    <div style=" float:left"><img src="/static/images/logo.jpg" width="214" height="101"></div>
  </div>
</div>
<div style="height:33px; background-image:url(/static/images/nav_bg.jpg);">
  <div style="width:952px; height:33px;">
    <div style=" margin-left:3PX; float:left"><img src="/static/images/topnavr.jpg" height="33" width="180"></div>
    <div style=" width:350px; float: right;">
      <li class="userInfo">
	<font id="ECS_MEMBERZONE">
	  &nbsp;&nbsp;&nbsp;&nbsp;
	  <a href="/user.php" class="login"><font color="dE6761">会员中心</font></a>
	  <a href="/user.php?act=register" class="login"><font color="1E9289">免费注册</font></a>
	  <a href="/user.php" class="login"><font color="ffffff">收藏夹</font></a>
	</font>
      </li>
      <div id="topNav" class="clearfix">
	<a href="/flow.php">购物车</a>
      </div>
    </div>
  </div>
</div>
