{% include 'header.html' %}
<body style="text-align:center">
  {% include 'body_master.html' %}
  <h1>search_form</h1>

  {% if error %}
  <p style = "color: red;"> Please submit a search term.</p>
  {% endif %}
  
  <form action="" method="get">
    <input type="text" name="q">
    <input type="text" name="q1">
    <input type="submit" value="Search">
  </form>
  
  <hr>
  <address>
    <a href="mailto:weishijian@weishijian-MacUbuntu">weishijian</a>,
    28 11月 2013
  </address>
</body>
</html>
