<div style="width:952px; height:50px; margin:0 auto;"><img style="float:left;" src={{ mainPageSort3.image1 }} width="197" height="50"></div>
<div style="width:952px; height:261px; margin:0 auto;">
  <div style="width:801px; height:261px; float:left">
  <div style="width:197px; height:261px; float:left"><a href="/category.php?id=825"><img src={{ mainPageSort3.image2 }} width="197" height="261" border="0"></a></div>
  <div style="width:150px; height:129px; float:left; border-top:1px solid #8C8C8C; border-bottom:1px solid #8C8C8C; border-right:1px solid #8C8C8C;"><a href="/goods.php?id=5470"><img src={{ mainPageSort3.image3 }} width="150" height="129" border="0"></a></div>
  <div style="width:150px; height:129px; float:left; border-top:1px solid #8C8C8C; border-bottom:1px solid #8C8C8C; border-right:1px solid #8C8C8C;"><a href="/goods.php?id=5465"><img src={{ mainPageSort3.image4 }} width="150" height="129" border="0"></a></div>
  <div style="width:301px; height:129px; float:left; border-top:1px solid #8C8C8C; border-bottom:1px solid #8C8C8C; border-right:1px solid #8C8C8C;"><a href="/goods.php?id=5421"><img src={{ mainPageSort3.image5 }} width="301" height="129" border="0"></a></div>
  <div style="width:301px; height:129px; float:left; border-bottom:1px solid #8C8C8C; border-right:1px solid #8C8C8C;"><a href="/goods.php?id=5082"><img src={{ mainPageSort3.image8 }} width="301" height="129" border="0"></a></div>
  <div style="width:150px; height:129px; float:left; border-bottom:1px solid #8C8C8C; border-right:1px solid #8C8C8C;"><a href="/goods.php?id=5532"><img src={{ mainPageSort3.image10 }} width="150" height="129" border="0"></a></div>
  <div style="width:150px; height:129px; float:left; border-bottom:1px solid #8C8C8C; border-right:1px solid #8C8C8C;"><a href="/goods.php?id=528"><img src={{ mainPageSort3.image11 }} width="150" height="129" border="0"></a></div></div>
  <div style="width:150px; height:259px; float:right; border-top:1px solid #8C8C8C; border-bottom:1px solid #8C8C8C; border-right:1px solid #8C8C8C;">
    <a href="/goods.php?id=6913"><img src={{ mainPageSort3.image7 }} width="150" height="259" border="0"></a>
 </div>
</div>
